.btn {
    cursor: pointer;
    background-color: rgb(25, 118, 210);
    border: none;
    color: aliceblue;
    width: 150px;
    height: 72px;
    border-radius: 15px;
    font-size: 1.2rem;
    transition: box-shadow 0.2s ease-in-out;
}

.btn-ctn {
    display: flex;
    gap: 15px;
}

.directions {
    padding: 25px;
    text-decoration: none;
}

.directions:visited {
    text-decoration: none;
    color: aliceblue;
}

.btn:hover {
    box-shadow: 3px 5px 9px -1px rgb(66, 154, 241);
}

.ingredients-list, .instructions-list {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.ingredient, .instruction {
    font-size: 1.2rem;
    line-height: 1.5;
}

.ingredient {
    list-style:square;
}

.section-header {
    text-decoration: underline;
}

#recipe-details-page {
    padding: 25px;
    margin-top: 135px;
}

.title {
    color: rgb(23, 100, 177);
}

#details-and-picture {
    margin-bottom: 50px;
}

.summary-p {
    line-height: 1.5;
    font-size: 1.1rem;
}

#image {
    width: 100%;
    border-radius: 15px;
}


@media (min-width: 1000px){
    
    .instruction{
        font-size: 1.3rem;
    }

    #details-and-picture {
        margin-bottom: 50px;
        margin-left: 50px;
    }
    
}


@media (min-width: 925px){
    #details-and-picture {
        display: flex;
        gap: 5%;
    }


    #image {
        max-width: 550px;
    }

}

@media (min-width: 750px){
    .ingredients-list {
        grid-template-columns: 1fr 1fr; 
    }

    .ingredient{
        font-size: 1.4rem;
    }

    .summary-p {
        line-height: 1.5;
        font-size: 1.3rem;
    }

}

@media (min-width: 600px){
    .details-only {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .details-text{
        font-size: 1.5rem;
        line-height: 1;
    }
}